/* ----------------------------------------------------------------------------------------------------------
1) HTML tags, reset
---------------------------------------------------------------------------------------------------------- */

* {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
body {padding:20px 0; font-family:Verdana, Arial, Helvetica, sans-serif,"ו"; font-size:0.8em; line-height:1.5; text-align:center;}
a {text-decoration:none;}

h1, h2, h3, h4, h5, h6 {margin:10px 0 10px 0;}
h1 {font-size:260%; font-weight:normal; letter-spacing:-1px;}
h2 {font-size:160%; font-weight:normal;}
h3,h4 {font-size:140%; font-weight:normal;}
h5 {font-size:100%;}

p, ul, ol, dl, fieldset {margin:15px 0;}

table {border-collapse:collapse; border-spacing:0; font-size:100%;}
thead {  text-align:center; background-color:#CCCCCC;}
th {text-align:left; font-weight:bold; }
th, td {padding:3px 7px;}

ul, ol {margin-left:30px;}
ul ul, ol ol {margin:0; margin-left:20px;}
/*ol {list-style-type:decimal;}*/
li {display:list-item;}

dt {}
dd {margin-left:30px;}

fieldset {position:relative; padding:10px;}
legend {position:absolute; top:-1em; margin:0; padding:5px 10px; font-size:100%; font-weight:bold;}

/* ----------------------------------------------------------------------------------------------------------
2) LAYOUT
---------------------------------------------------------------------------------------------------------- */

#container {width:876px; margin:0 auto; text-align:left;}
	#header {position:relative; padding-bottom:15px; position:relative}
		#logo { font: bold 310%/100% "Lucida Grande", Verdana, sans-serif; margin:0; position: relative; color: #464646; text-transform: uppercase;letter-spacing: -2px;}
		#logo span { background: url(../images/logo.png) repeat-x; position: absolute;display: block;width: 100%;height: 18px;}

        #slogan {margin:0;}
    #mainNav {clear:both; padding:5px 0; height:auto; overflow:hidden; margin-bottom:15px; border-top:1px solid #ccc;border-bottom:1px solid #ccc; position: relative;}
        #mainNav ul {margin:0; padding:0; list-style:none; font:14px/1.4 "Verdana",sans-serif; }
        #mainNav ul li {display:inline; margin:0; padding:0;}
        #mainNav ul li a, #mainNav ul li a:hover {display:block; float:left; padding:0px 15px; border:0; height:34px; line-height:34px;}
        #mainNav ul li.current a {border:0; font-weight:bold;}

	#footer {clear:both; font-size:85%; border-top:1px solid #ccc; position:relative;}
	#footer #validate { position:absolute; right:0; top:0px;}


/*-----------------------------------------

--------------------------------------------*/
/* form */
.form .formContent { padding:10px 0 0 0; height:auto; overflow:hidden; _height:1%; }
.form .formContent h5 { font-size:14px; font-weight:normal; color:#01609a; background-color:#ededed; padding:0px 10px; margin-bottom:10px; height:20px; line-height:20px;}
.form .formContent table { margin: 0 0 10px 0;}
.form .formContent .btnBar { clear:both;}
.form .formContent table tbody th { text-align:right; font-weight:normal; color:#01609a; vertical-align:top;}
.need { color:#ea0000}
/* end form */
/* gingkoBar */
.gingkoBar { border:2px solid #fff; padding:5px 0 0 0; margin-bottom:10px; }
.gingkoBar h3 { font-size:14px; font-weight:bold; background:#277ca5; height:20px; line-height:20px; overflow:hidden; color:#fff; padding:0 10px;}
.gingkoBar h3 span { float:right; font-weight:normal;}
.gingkoBar h3 a {font-size:12px; font-weight:bold; color:#fff;}
.gingkoBar h3 a.edit {font-size:12px; font-weight:bold; color:#fff; background:url(../../images/default/icon_fun.gif) no-repeat left center; padding-left:18px;}
.gingkoBar .content { padding:10px; _height:1%; }
.gingkoBar .clearPT { padding-top:0px;}

/* ----------------------------------------------------------------------------------------------------------
3) Page: Home
---------------------------------------------------------------------------------------------------------- */

.projectShow { height:200px; margin-bottom:15px; padding:0 10px 10px 10px; width:558px; float:left; position:relative;}
.project { float:left; margin-right:15px;}
.freeTemplate {float:left;}
.contantUs { float:right;}
.whatWeDo {float:right; height:200px;}

/* ----------------------------------------------------------------------------------------------------------
Z) Others
---------------------------------------------------------------------------------------------------------- */
/* cor */
.lt_cor, .rt_cor, .lb_cor, .rb_cor { height: 12px; width: 12px; position: absolute; background-repeat:no-repeat; }
.lt_cor { background-position: left top; left: -1px; top: -1px; }
.rt_cor { background-position: right top; right: -1px; top: -1px; }
.lb_cor { background-position: left bottom; left: -1px; bottom: -1px; }
.rb_cor { background-position: right bottom; right: -1px; bottom: -1px; }
/* column */
.column { padding:0 10px 10px 10px; margin-bottom:15px; position:relative; border:1px solid #ccc;}
.column ul { margin:0px}
.column ul li a { font-size:100%;}
.column ul li { list-style-type:none; height:auto; overflow:hidden; margin-bottom:10px;}
.column ul li img { float:left; margin-right:10px;}

.left{ float:left; }
.left ul { width:170px;}
.left img{ background-color:#ccc; border:1px solid #ccc; margin-bottom:15px; width:135px; height:auto }
.bg { background-color:#F9F9F9;}
/* list */
.list { }
.list dl { width:650px;}
.list dl dt { font-weight:normal; }
.list dl dd { color:#999; margin:5px 0 5px 0;}
/* detail */
.detail { float:right; width:650px;}
.detail dl dl { margin-left:20px;}
.detail dl dt {	width:100px;	float:left;	text-align:left; }
.detail dl dd {margin:5px 0 10px 0; color:#444; line-height:160%; }
.detail dl dd span { margin:5px 15px 10px 15px; }
.detail img { background-color:#ccc; border:1px solid #ccc; margin-bottom:15px;}
.detail dl dd.demo_box { margin:10px 0; padding:10px; overflow:hidden;}
.detail dl dd.effect_show { padding:6px 10px; }
.detail dl dt em, .detail dl dd em { font-style:normal;}
.advice_box { padding:0 10px 10px 10px;}
.detail .comment { color:#999}

.searchbox { position:absolute; right:0px; top:-20px; }
.searchbox li { list-style-type:none; float:left; padding:0 5px;}

.ui-tabs-hide { display:none;}

#category { position:absolute; left:-60px; top:46px;}
#category ul li { width:50px; padding:5px;}

.float_l ul li { float:left; width:390px;}
.float_l {height:auto; overflow:hidden;}
.emphasize {padding:6px 10px;}

* html #mainNav,* html .column, * html  .column ul li { height:1%;}
* html #logo span {background: none;

}

.detail .dataintable, .detail .dataintable th, .detail .dataintable td { border:1px solid #ccc; margin-bottom:10px;}
.detail .dataintable th { background-color:#eee;}
.detail ul li { width:auto;}