	#mainNav ul li a { text-align:center; font-weight:bold;}
	#mainNav ul li a:hover { color:#277ca5;}
	#mainNav ul li.current a{color:#fff; font-weight:bold;}

	#mainNav ul li#share_resource a { width:70px;}
	#mainNav ul li#my_resource a { width:70px;}
	#mainNav ul li#my_friends a { width:70px;}
	#mainNav ul li#member a { width:70px;}
	#mainNav ul li#profile a { width:70px;}
	#mainNav ul li#serach a { width:70px;}

#pictureselect {
	position: relative;
	height: 1%; /* ie bug */
}

#mainNav ul li, #pictureselect li {
	float: left;
	list-style: none;
	height: 34px;
}
#mainNav ul li a, #pictureselect li a  {
	z-index: 10;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	color:#333;
}
#mainNav li.background {
	z-index: 8;
	position: absolute;
	visibility: hidden;
	
}
#mainNav .background .left {

	margin-right: 0px; 
}
#pictureselect li.background {
	z-index: 8;
	position: absolute;
	visibility: hidden;
}
#pictureselect li.background .left { display: none; }